:root {
  --color-bg: #161826;
  --color-surface: #232532;
  --color-text: #e9e9ed;
  --color-accent: #9184d9;
  --color-accent-2: #a7a1db;
  --color-section: #262a60;
  --color-accent-400: #b5abfc;
  --color-accent-300: #d2cefd;
}
